<!--This link tag will act as a body section is we dont include the app.use('layout expressStyles',true)
    => this will take this link tag and put it into the head section in the layout.ejs-->
<link rel="stylesheet" href="/css/user_profile.css">

<h1>ConnecTi / <%= title %>
</h1>