<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>

    <%- include('_header'); %>

        <%- body %>
            <!--Body contains the "variable part" ,body is predefined in express -->

            <%- include('_footer'); %>

</body>

</html>